$primary-font-family:"Roboto", sans-serif;
$secondary-font-family :"Raleway", sans-serif;
$primari-text-color: #212121;
$secondary-text-color: #757575;
$accent-text-color: #2196f3;
$body-bg-color:#ffffff;
$footer-bg-color:#2f303a;